<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quicklist/style.css' %}" type="text/css"/>
    <script src="{% static 'quicklist/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'quicklist/main.js' %}"></script>
</head>
<p>playlist is: {{ playlist|join:", " }}</p>
<button type="button" id="clickable_button">Click</button>
<p id="test_p">asdf test is now {{ request.session.asdf }}</p>
<a href="clear_playlist">clear playlist</a><span>&nbsp;&nbsp;</span>
<a href="clear_session">clear session</a><br /><br />
<body>
<form id="form_search" method="GET" action="index">
	<input id="text_query" type="text" name="query" value="clio goes two wheel"></input>
	<input id="btn_search" type="submit"></input>
</form>
<div id="main_div">
    <div id="div_results_container">
        {% include "quicklist/search_results.html" %}
    </div>
    <div id="player"></div>
    <div id="div_playlist_container">
        <form id="form_playlist" method="GET" action="remove">
            {% include "quicklist/playlist.html" %}
        </form>
    </div>
</div>
<script>
    {% if playlist_exists %}
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '200', // 390
                width: '320', // 640
                videoId: '{{ current_video_id }}',
                events: {
                //'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == 0) {
                window.location.href = "next_video"
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
    {% endif %}
</script>
</body>
</html>