<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quicklist/style.css' %}" 
          type="text/css"/>
    <script src="{% static 'quicklist/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'quicklist/main.js' %}"></script>
</head>
{# <p>playlist is: {{ playlist|join:", " }}</p> #}
<button type="button" id="clickable_button">Click</button>
<p id="test_p">asdf test is now {{ request.session.asdf }}</p>
<a href="clear_playlist">clear playlist</a><span>&nbsp;&nbsp;</span>
<a href="clear_session">clear session</a><br /><br />
<body>
    <form id="form_search" method="GET" action="index">
        <input id="text_query" type="text" name="query" 
               value="clio goes two wheel">
        <input id="btn_search" type="submit">
    </form>
    <div id="main_div">
        <div id="div_results_container">
            <form id="form_add" method="GET" action="add">
                {% include "quicklist/search_results.html" %}
            </form>
        </div>
        <div id="player_container">
            <div id="player"></div>
            <input id="btn_next" type="submit" value="Next video">
        </div> 
        <div id="div_playlist_container">
            <form id="form_playlist" method="GET" action="remove">
                {% include "quicklist/playlist.html" %}
            </form>
        </div>
    </div>
    {#% include "quicklist/video_player.html" %#}

</body>
</html>